@font-face {
  font-family: "CookieRun-Regular";
  src: url("../fonts/CookieRun-Regular.woff") format("woff");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "CookieRun-Bold";
  src: url("../fonts/CookieRun-Bold.woff") format("woff");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "CookieRun-Black";
  src: url("../fonts/CookieRun-Black.woff") format("woff");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
